:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,html{
  height: 100%;
  width: 100%;
}

.status{
  font-size: 50px;
  color: black;
  -webkit-text-stroke: 1px rgb(254, 254, 254);
}
.statusWinner{
  font-size: 50px;
  color: white;
}

.board-row{
  display: flex;
}

.square {
  height: 36px;
  width: 36px;
  border-radius: 8px;
  border: 1px solid yellowgreen;
  /* padding: 0.6em 1.2em; */
  margin: 0.2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.square:focus,
.square:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}